<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="ApiUrl" value="https://localhost:7282/api/SoapExport" />
    <add key="CsvFilePath" value="C:\Users\pc\Desktop\data4.csv" />
    <add key="LogFilePath" value="C:\Users\pc\Desktop\Log2.txt" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SenderEmail" value="waliahmed18may2006@gmail.com" />
    <add key="SenderPassword" value="rwcp wfpa nhpx yuqu" />
    <add key="ReceiverEmail" value="waliahmed18may2006@gmail.com" />
  </appSettings>
</configuration>